In [ ]:
#리스트 연산 연습
numbers = [10, 20, 30]+[40, 50, 60]
print(numbers)

[10, 20, 30, 40, 50, 60]

In [ ]:
word = input("문자열을 입력하세요 : ")
for i in range(len(word)):
    print(word[:i])
for i in range(len(word)):
    print(word[:len(word)-i])

문자열을 입력하세요 : python

p
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p

In [ ]:
a = "worldstar" #마치 리스트처럼 문자열에 대해서도 똑같은 현상이 일어남.
len(a)

9

In [ ]:
#넘파이 배열과 리스트 차이
import numpy as np

array1 = np.array([10, 20, 30])
array2 = np.array([40, 50, 60])
array3 = array1 + array2
array3

array([50, 70, 90])

In [ ]:
#리스트에 곱은 단순히 연속 나열에 불과하다!
mystery = [1, 2, 3] * 3
mystery

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#리스트 함축 마치 집합의 조건제시법 같은 느낌
list1 = [x**2 for x in [1,2,3,4,5]]
list1

[1, 4, 9, 16, 25]

In [ ]:
a = [x for x in range(1,11)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#리스트 조건 함축
list2 = [x for x in range(10) if x % 2 == 0 ]
list2

[0, 2, 4, 6, 8]

In [ ]:
#리스트 중에 숫자만 추출해보기
s = [ 'hello', '12345', 'world', '67890']
numbers = [x for x in s if x.isdigit()]
print(numbers)

['12345', '67890']

In [1]:
#질문에 대한 숫자 답을 리스트로 만들어 주기
[int(x) for x in input("정수를 여러 개 입력하세요 : ").split()]

정수를 여러 개 입력하세요 : 400 5000 600

[400, 5000, 600]

In [ ]:
[int(x) for x in input("정수를 여러 개 입력하세요 : ").split() if x.isdigit()]

정수를 여러 개 입력하세요 : 100 tlqkf 200

[100, 200]

In [ ]:
[(x, 2*y) for x in [1,2,3] for y in [4,5,6]]

[(1, 8), (1, 10), (1, 12), (2, 8), (2, 10), (2, 12), (3, 8), (3, 10), (3, 12)]

In [ ]:
#7장 심화문제 풀이
#7.1
num_list = [100, 200, 300, 400, 500, 600, 700, 800]
high = 6
low = 3
num_list[high]

700

In [ ]:
num_list[high - 2]

500

In [ ]:
num_list[high - low]

400

In [ ]:
num_list[low - high]

600

In [ ]:
num_list[-1]

800

In [ ]:
num_list[2 * 3]

700

In [ ]:
num_list[2] * 3

900

In [ ]:
num_list[5 % 4]

200

In [ ]:
len(num_list)

8

In [ ]:
min(num_list)

100

In [ ]:
max(num_list)

800

In [ ]:
num_list[:3]

[100, 200, 300]

In [ ]:
num_list[1:5]

[200, 300, 400, 500]

In [ ]:
num_list[-1:-5:-1]

[800, 700, 600, 500]

In [ ]:
num_list[-5:-1:1]

[400, 500, 600, 700]

In [ ]:
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]
for x in list1:
    for y in list2:
        print(x ,"*", y ,'=', x*y)

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [ ]:
#7.3
list1 = ['i like', 'i love']
list2 = [ 'pancakes.', 'kiwi juice.', 'espresso.']
for x in list1:
    for y in list2:
        print(x , y )

i like pancakes.
i like kiwi juice.
i like espresso.
i love pancakes.
i love kiwi juice.
i love espresso.

In [6]:
#7.5 리스트 함축 가능? 쌉가능
list1 = ['A', 'B', 'C']
list2 = [ '1', '2', ]
list3 = []
for x in list1:
    for y in list2:
        print(x + y )

[ x+y for x in list1 for y in list2]

A1
A2
B1
B2
C1
C2

['A1', 'A2', 'B1', 'B2', 'C1', 'C2']

In [8]:
for x in range(len(list1)):
  print(list1[x])

A
B
C

In [ ]:
#7.6 피라미드 패턴출력

answer = input('문자열을 입력하세요 : ')

for i in range(len(answer)):
  print(answer[:i])
for j in range(len(answer), 0, -1):
  print(answer[:j])

문자열을 입력하세요 : python

p
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p

In [10]:
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']

max = 0
for i in fruit_list:
  if len(i) > max:
    max = len(i)

max_fruit_list =[]

for j in fruit_list:
  if len(j) == max:
    max_fruit_list.append(j)

print( "가장 길이가 긴 문자열 : ",  max_fruit_list )

for k in fruit_list:
  if k in max_fruit_list:
    fruit_list.remove(k)

print("fruit_list = ",fruit_list)

가장 길이가 긴 문자열 :  ['banana', 'orange']
fruit_list =  ['orange', 'kiwi', 'apple', 'melon']

In [ ]:
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']
for x in fruit_list:
    print( x, ': 문자열의 길이', len(x))

banana : 문자열의 길이 6
orange : 문자열의 길이 6
kiwi : 문자열의 길이 4
apple : 문자열의 길이 5
melon : 문자열의 길이 5

In [ ]:
n = int(input("n을 입력하시오 : "))
list1 = [x for x in range(1,n+1)]
print("n을 입력하시오 : ", n )
print([x for x in list1])
print([5+x for x in list1[::-1]])
print([x+10 for x in list1])
print([15+x for x in list1[::-1]])
print([x+20 for x in list1])

n을 입력하시오 : 5
n을 입력하시오 :  5
[1, 2, 3, 4, 5]
[10, 9, 8, 7, 6]
[11, 12, 13, 14, 15]
[20, 19, 18, 17, 16]
[21, 22, 23, 24, 25]

In [ ]:
A = ["commu", 'boxok', 'deter', 'waycom','tttttt']
B = ["mummy", 'xbox', 'detery', 'ycomget', 'tttttt']
C = [ x+y x for in A y for in B ]

SyntaxError: ignored

In [ ]:
"ttttt"+"tttttt"

'ttttttttttt'